$light-grey: #C3CAD2;
$dark-grey: #90989A;
$white: #fff;
$blue: #232635;
$dark-blue:      #073971;
$darker-blue:    #052b55;
$darkest-blue:   #232635;
$bright-blue:    #41cdfc;
$orange:         #ff902c;
$yellow:         #f9ef3b;
$red:            #ed4e39;
$green:          #2F606F;
$dark-green:     #2cb566;
$purple:         #4e57f4;
$white:          #fff;
$gray:           #E5E4E0;
$light-gray:     #C3CAD2;
$lighter-gray:   #f9f9f9;
$dark-gray:      #404041;
$black:          #333;
$dark-black:     #191919;
