.gallery {
  padding: 0;
  margin: 0;
  background-color: $white;
  .gallery-item {
    transition: 400ms ease-in-out;
    @media #{$mobile} {
      padding: 0;
      margin-bottom: $spacing-smallest;
    }
  }
  @media #{$all-desktop} {
    .gallery-item {
      &:hover {
        opacity: .5;
        cursor: pointer;
      }
      &.is-expanded {
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
  @media #{$tablet} {
    padding-top: 28px;
  }
}
.js-light-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $blue;
  @include z-index-2;
  padding-left: 175px;
  @media #{$tablet},#{$mobile} {
    padding-left: 0;
  }
}
.js-light-box-content {
  height: 100%;
  width: calc(100% - 175px);
  position: absolute;
  top: 0;
  left: 175px;
  @media #{$tablet}, #{$mobile} {
    width: 100%;
    left: 0;
    background-color: $darkest-blue;
  }
}
.js-light-box-img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  &.portrait {
    background-size: contain;
  }
  @media #{$tablet}, #{$mobile} {
    background-size: contain;
    &.portrait {
      background-size: cover;
      height: calc(100% - 68px);
      top: 68px;
      left: 0;
      transform: none;
      &::before {
        content: '';
        width: 100%;
        height: 150px;
        display: block;
        bottom: 0;
        position: absolute;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba($blue, 0)), color-stop(19%, rgba($blue, 0)), to(rgba($blue, 1)));background: linear-gradient(to bottom, rgba($blue, 0) 0%, rgba($blue, 0) 19%, rgba($blue, 1) 100%);
      }
    }
  }
}
.js-light-box-txt {
  position: absolute;
  right: 0;
  display: block;
  color: $white;
  background-color: transparent;
  height: 100%;
  width: 250px;
  max-width: 450px;
  padding: 60% 25px 25px;
  transition: 1000ms;
  @include z-index-3;
  h2 {
    right: -450px;
    transition: 1500ms;
    opacity: 0;
    display: block;
  }
  span {
    font-size: 1em;
    color: $white;
    padding-top: 0;
    position: relative;
    right: -450px;
    transition: 1000ms;
    opacity: 0;
    display: block;
  }
  &.is-displayed {
    background-color: rgba($blue,.90);
    width: 100%;
    h2 {
      display: block;
      color: $light-gray;
      right: 0;
      opacity: 1;
    }
    span {
      right: 0;
      opacity: 1;
    }
  }
}
.js-light-box-close {
  transition: opacity 1000ms;
  position: absolute;
  @include z-index-5;
  display: block;
  height: 20px;
  width: 20px;
  top: 20px;
  left: 20px;
  cursor: pointer;
  span {
    position: absolute;
    top: 9px;
    right: 0;
    display: block;
    background-color: $light-gray;
    width: 20px;
    height: 2px;
    &:first-child {
      transform: rotate(45deg);
    }
    &:last-child {
      transform: rotate(-45deg);
    }
    transition: 400ms ease-in-out;
  }
  &.is-hidden {
    opacity: 0;
  }
  &:hover  {
    span {
      background-color: $light-gray;
      &:first-child {
        transform: rotate(-135deg);
      }
      &:last-child {
        transform: rotate(45deg);
      }
      transition: 400ms ease-in-out;
    }
  }
  @media #{$tablet},#{$mobile} {
    top: 93px;
    right: 25px;
    left: auto;
  }
}
.js-more-info {
  color: $light-gray;
  display: inline-block;
  border: 2px solid $light-gray;
  padding: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: 400ms ease-in-out;
  @include z-index-7;
  @media #{$all-desktop} {
    &:hover {
      background-color: $light-gray;
      cursor: pointer;
      color: $blue;
      opacity: 1;
      border: solid $light-gray;
    }
  }
  @media #{$tablet}, #{$mobile} {
    top: auto;
    bottom: 25px;
    right: 25px;
    font-size: 10px;
    text-align: center;
    padding: 1em 2em;
    background-color: transparent;
    color: $light-gray;
    border: 2px solid $light-gray;
    @include z-index-7;
  }
}
.js-light-box-arrows {
  opacity: 0;
  position: absolute;
  bottom: 24px;
  left: 14px;
  width: 100%;
  padding: 0 24px;
  transition: 1000ms;
  cursor: pointer;
  &.is-visible {
    opacity: 1;
  }
  @media #{$tablet}, #{$mobile} {
    position: fixed;
    left: 15px;
    bottom: 10px;
    width: auto;
    padding: 0;
    .triangle {
      fill: $light-gray;
    }
  }
}
.js-light-box-arrow {
  display: inline-block;
  padding: 10px;
  svg {
    display: block;
    transition: 400ms ease-in-out;
  }
  &.prev {
    transform: rotate(180deg);
  }
  &:hover {
    svg {
      transform: scale(1.3);
    }
  }
}
