// Profile Photo

.adam {
  display: block;
  padding-top: 2em;
  float: left;
  left: 0;
  max-height: 100%;
  overflow: hidden;
  @media #{$mobile} {
    max-width: 50%;
    margin-bottom: 0;
  }
}
  img {
    display: block;
    float: left;
  }
// Bio
// .text-box {
//   max-width: 100%;
//   background: $green;
//   padding: 10px;
//   float: left;
//   width: 25%;
//   margin-top: 100px;
//   margin-left: -10px;
//   color: $white;
// }

.lets-talk {
  color: $black;
  margin-bottom: $spacing-normal;
  @media #{$mobile} {
    padding-left: 0;
    max-width: 200px;
    margin-top: 20px;
    @media #{$tablet} {
      padding-top: 10px;
    }
  }
}
// Contact Form

.contact-form {
  display: block;
  overflow: visible;
  @media #{$mobile} {
  margin: 0;
  }

  p {
    line-height: $spacing-large;
  }

  textarea {
    display: block;
    margin: $spacing-normal 0 $spacing-small;
    width: 100%;
    -webkit-appearance: none !important;
    // border: 4px solid $green;
    border-radius: 0 !important;
    height: 150px;
    padding: $spacing-smallest;
    font-size: $type-base;
    resize: vertical;
    -webkit-transition: 300ms ease-in;
    transition: 300ms ease-in;

    &::-webkit-input-placeholder {
      color: #white;
    }

    &:-ms-input-placeholder {
      color: #white;
    }

    &::placeholder {
      color: #white;
    }

    &.error {
      background-color: $blue;

      &::-webkit-input-placeholder {
        color: rgba($white, .5);
      }

      &:-ms-input-placeholder {
        color: rgba($white, .5);
      }

      &::placeholder {
        color: rgba($white, .5);
      }
    }
  }

  label.error {
    display: none !important;
  }
}

.form-txt {
  font-size: $type-big;
  color: $black;
}
.form-bio {
  font-size: $type-small;
  color: $blue;
  margin-bottom: $spacing-normal;
  @media #{$mobile}, #{$tablet} {
    width: 100%;
    padding: 0;
  }
}

.contact-field {
  color: $black;
  display: inline-block;
  outline: none;
  border: none;
  border-bottom: 2px solid $black;
  border-radius: 0 !important;
  -webkit-appearance: none !important;
  font-size: $type-big;
  text-align: center;
  vertical-align: super;
  padding: 0;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;

  &[name="company"],
  &[name="name"] {
    width: 200px;
  }

  &[type="email"] {
    width: 250px;
  }

  &[name="budget"] {
    width: 68px;
  }

  &:focus {
    border-color: $blue;
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: #ccc;
  }

  &:-ms-input-placeholder {
    color: #ccc;
  }

  &::placeholder {
    color: #ccc;
  }

  &.error {
    background-color: $black;
    color: $white;
  }
}

.contact-send {
  display: inline-block;
  padding: $spacing-smallest $spacing-normal;
  background: $blue;
  color: $white;
  font-weight: 700;
  font-size: $type-big;
  -webkit-appearance: none !important;
  border: none;
  cursor: pointer;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
  border-radius: 0 !important;
  &:focus {
    outline: none;
  }

  &:hover {
    background: $white;
    color: $blue;
  }
  @media #{$mobile} {
    margin-bottom: $spacing-normal;
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background: $green;
    color: $white;
    -webkit-box-shadow: 6px 6px 0 0 $green;
    box-shadow: 6px 6px 0 0 $white;
  }
}

.submit-success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($green, .99);
  @include z-index-3;
}

.submit-success-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  p {
    font-size: $type-largest;
    margin-bottom: $spacing-normal;
  }
}

.submit-close {
  cursor: pointer;
  display: inline-block;
  padding: $spacing-small $spacing-large;
  background-color: $black;
  color: $white;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;

  &:hover {
    color: $green;
    -webkit-box-shadow: 6px 6px 0 0 $white;
    box-shadow: 6px 6px 0 0 $white;
  }
}

.submit-error {
  text-align: center;
  padding: $spacing-small;
  margin-top: $spacing-larger;
  background: $yellow;
}
