
* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
// Grid system
.j-row {
  display: block;
  clear: both;
  overflow: auto;
}

.j-col-1 {
  width: 8.33%;
  width: calc(100% / 12);
}

.j-col-2 {
  width: 16.66%;
  width: calc(100% / 12 * 2);
}

.j-col-3 {
  width: 25%;
}

.j-col-4 {
  width: 33.33%;
  width: calc(100% / 12 * 4);
}

.j-col-5 {
  width: 41.66%;
  width: calc(100% / 12 * 5);
}

.j-col-6 {
  width: 50%;
}

.j-col-7 {
  width: 58.33%;
  width: calc(100% / 12 * 7);
}

.j-col-8 {
  width: 66.66%;
  width: calc(100% / 12 * 8);
}

.j-col-9 {
  width: 75%;
}

.j-col-10 {
  width: 83.33%;
  width: calc(100% / 12 * 10);
}

.j-col-11 {
  width: 91.66%;
  width: calc(100% / 12 * 11);
}

.j-col-12 {
  width: 100%;
}

.push-1 {
  margin-left: 8.33%;
}

.push-2 {
  margin-left: 16.67%;
}

.push-3 {
  margin-left: 25%;
}

.push-4 {
  margin-left: 33.33%;
}

.push-5 {
  margin-left: 41.67%;
}

.push-6 {
  margin-left: 50%;
}

.push-7 {
  margin-left: 58.33%;
}

.push-8 {
  margin-left: 66.67%;
}

.push-9 {
  margin-left: 75%;
}

.push-10 {
  margin-left: 83.33%;
}

.push-11 {
  margin-left: 91.67%;
}

.push-1,
.push-2,
.push-3,
.push-4,
.push-5,
.push-6,
.push-7,
.push-8,
.push-9,
.push-10,
.push-11 {
  @media #{$mobile} {
    margin-left: 0;
  }
}

.j-col {
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
  &.wrap {
    padding: 0;
  }
  &.j-col-12 {
    float: none;
  }
  @media #{$mobile} {
    width: 100%;
    float: none;
    margin-bottom: 20px;
    padding: 0 20px;
  }
}

//   Row types

.vertical-center-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  &.vertical-center-row-flip {
    -ms-flex-flow: wrap-reverse row-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-flow: wrap-reverse row-reverse;
  }
  @media #{$mobile} {
    flex-direction: column;
  }
  &.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@mixin vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
}
@mixin space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@mixin vertical-center-mobile {
  display: block;
}

@mixin top-align-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
}

//   Column types
.vertical-distribute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  &.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  &.space-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@mixin grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.grid-container { // extra support from flexbox, just incase floating starts doing weird jazz
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 90vw;
  flex-direction: column;
  @media #{$tablet}, #{$mobile} {
    flex-direction: row;
    height: 100%;
  }
}
// Tile
// Requires .overflow on parent .color-block
.tile {
  padding: 10px;
  background-color: transparent;
  transition: 400ms $transition-ease;
  overflow: visible;
  .tile-content {
    padding: 20px;
    transition: 400ms $transition-ease;
    &.white {
      background-color: $white;
    }
  }
}

// Page components ----------
//   Content/Site width
.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.overflow {
  overflow: visible;
}
.overflow-hidden {
  overflow: hidden;
}
.centered {
  text-align: center;
}
// Hero section
//   First element on page after navbar
.hero {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include vertical-center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 600px;
  &.full-screen { // will adapt to full height of browser window
    height: 100vh;
  }
  h1 {
    font-size: $type-largest;
    color: $blue;
    margin-bottom: $spacing-normal;
  }
  h3 {
    font-size: $type-big;
    color: $white;
    font-weight: 300;
  }
}
.hero-content {
  text-align: center;
}
//   Color overlay
//   Requires position: relative;
@mixin overlay($color) {
  .hero-content {
    @include z-index-2;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color, 0.92);
    @include z-index-1;
  }
}
//   Color Block
section.color-block {
  padding: $spacing-larger 0;
  background: $white;
  overflow: hidden;
  &.no-pad {
    padding: 0;
  }
  &.blue {
    background: $blue;
  }
  &.dark-blue {
    background: $dark-blue;
  }
  &.darker-blue {
    background: $darker-blue;
  }
  &.darkest-blue {
    background: $darkest-blue;
  }
  &.bright-blue {
    background: $bright-blue;
  }
  &.orange {
    background: $orange;
  }
  &.green {
    background: $green;
  }
  &.purple {
    background: $purple;
  }
  &.light-gray {
    background: $light-gray;
  }
  &.lighter-gray {
    background: $lighter-gray;
  }
  &.dark-black {
    background: $dark-black;
  }
  h1,
  h2 {
    margin-top: 0;
  }
  h2 {
    font-size: $type-larger;
  }
  @media #{$mobile} {
    padding-left: 10px;
    padding-right: 10px;
  }
}

//   Tertiary Nav
//   Markup Structure
//     .tertiary
//     nav.tertiary-nav
//       ul
//         li.tertiary-nav-item
//     .tertiary-nav-content
.tertiary {
  margin-bottom: $spacing-large;
}
nav.tertiary-nav {
  width: 100%;
  text-align: center;
  ul {
    list-style-type: none;
    padding: 0;
    -webkit-padding-start: 0;
    margin: $spacing-large 0;
    width: 100%;
    li.tertiary-nav-item {
      display: inline-block;
      padding: $spacing-smallest $spacing-small;
      cursor: pointer;
      position: relative;
      color: lighten($black, 40%);
      transition: 600ms $transition-ease-in;
      &:hover {
        color: $black;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $blue;
        transition: 600ms $transition-ease-in;
      }
      &.is-selected {
        color: $black;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
.tertiary-nav-content {
  position: relative;
  &.is-visible {
    &.slideUp {
      animation: slideUp 1000ms $transition-ease 1 forwards;
    }
    &.slideDown {
      animation: slideDown 1000ms $transition-ease 1 forwards;
    }
    &.slideLeft {
      animation: slideLeft 1000ms $transition-ease 1 forwards;
    }
    &.slideRight {
      animation: slideRight 1000ms $transition-ease 1 forwards;
    }
  }
}
//   Slider
//   Markup structure
//   .slider
//     .slider-dots
//       .slider-dot
//     .slides
//       .slide
//         .slide-arrow/.left/.right
//         .content (optional)
//           .slide-content
.slider {
  position: relative;
  width: 100%;
  background-color: $dark-black;
}
.slider-dots {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
  @include z-index-2;
}
.slider-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 3px;
  transition: 300ms $transition-ease;
  &:hover {
    background: rgba($white, 0.5);
  }
  &.is-selected {
    background: $white;
    &:hover {
      background: $white;
    }
  }
}
.slides {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include vertical-center;
  p {
    color: white;
  }
}
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4.2em;
  width: 2.6em;
  cursor: pointer;
  transition: 300ms ease;
  @include vertical-center;
  @include z-index-2;
  background: rgba($dark-black, .1);
  svg {
    margin: auto;
  }
  &.prev {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
  }
  &.next {
    right: 0;
  }
  &:hover {
    background: rgba($dark-black, .5);
  }
}
// .slide {
//   &:first-of-type {
//     .prev {
//       display: none;
//     }
//   }
//   &:last-child {
//     .next {
//       display: none;
//     }
//   }
// }
.slide-content {
  background: rgba($white, .9);
  padding: $spacing-normal;
  h3 {
    color: $black;
    font-size: $type-large;
    font-weight: 300;
    margin-top: 0;
  }
  p {
    color: lighten($black, 40%);
  }
}
.is-visible {
  .slide-content {
    animation: slideLeft 1000ms $transition-ease-in 1 forwards, fadeIn 500ms linear 1 forwards;
  }
}
//   Responsive Video
.responsive-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//   Posts section
.insights-article-img {
  display: block;
  cursor: pointer;
  margin-bottom: $spacing-normal;
  img {
    display: block;
    width: 100%;
  }
  p {
    color: inherit;
  }
}
